# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# eclipse

.metadata

# Node.js
node_modules
npm-debug.log
yarn-error.log

# Compiled output
dist
build

# Dependency directories
jspm_packages

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# IDEs and editors
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# OS-specific files
.DS_Store
Thumbs.db

# Angular specific
.angular/cache
.angular
.angular.json

# Environment variables
.env

# Logs
logs
*.log

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Temporary files
temp
*.tmp

# Test results
/coverage
/lcov-report
